.navbar {
  margin-bottom: -50px;
}

.jumbotron {
  text-align: center;
}

.mainpageimg {
  max-width: 420px;
}

.mainli {
  list-style-type: none;
}

.postImg {
  max-width: 600px;
  max-height: auto;
}
